<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;700;800;900&display=swap"
      rel="stylesheet">
    <style>
      html {
        -webkit-print-color-adjust: exact;
      }

      body {
        font-family: 'Fira Sans', sans-serif;
      }

      /* CUSTOMER STYLE */
      .kop-letter .kop-logo {
        text-align: left;
      }
      .kop-letter .kop-logo img {
        width: 90px;
      }
      .kop-letter .kop-title {
        /* font-family: 'Tahoma', Times, serif; */
        text-align: center;
        line-height: 1.2;
      }
      .kop-letter .kop-title .main-title {
        font-size: 1em;
        font-weight: 500;
      }
      .kop-letter .kop-title .sub-title {
        font-weight: 600;
        font-size: 1em;
        margin-bottom: 6px;
      }
      .kop-letter .kop-title .kop-address {
        line-height: 1.5;
        font-size: 14px;
      }
      .content-title {
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        text-align: center;
        margin-top: 2.5rem;
        width: fit-content;
        margin: 2.5rem auto;
      }
      .content-title .doc-title {
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: underline;
      }

      .hr-line {
        width: 100%;
        border-right: 0;
        border-left: 0;
        height: 6px;
        border-top: 1px solid black;
        border-bottom: 4px solid black;
        border-style: solid;
        margin: 20px 0;
      }

      ol.list-head li {
        font-weight: bold;
        font-size: 12px;
      }
      ol.list-head li p {
        font-weight: normal;
      }
      ol.list-content li {
        font-weight: normal;
      }
      ul.list-content li {
        font-weight: normal;
        font-size: 8px;
      }

      .list-content {
        font-weight: normal;
      }

      .table {
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        font-size: 8px;
      }
      .table thead.bg-dark-blue tr th {
        background-color: rgb(31, 73, 125);
        color: white;
      }
      .table>:not(:first-child) {
        border-top: 0;
      }
      .table td {
        text-align: justify;
      }

      @media print {
        .page-break {
          page-break-after: always;
        }
        .lampiran-img {
          break-inside: avoid;
        }
      }
    </style>
  </head>
  <body>
    <div class="kop-letter" id="kop-container">
      <div class="content-title">
        <div class="doc-title">{{{title}}}</div>
        <div class="sub-title">
          {{#if data.regional}}
          {{data.regional.name }}
          {{/if}}
          {{#if budgetYear}}
           Tahun {{budgetYear}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="hr-line"></div>
    <ol type="A" class="list-head w-100">
      <li class="w-100">
        <div class="pb-4">Komitmen dan Kontribusi Kementerian/Lembaga dalam Pelaksanaan RAN PE</div>
        <table class="table table-bordered">
          <thead class="bg-dark-blue">
            <tr>
              <th scope="col" class="align-middle text-center">No</th>
              <th scope="col" class="align-middle text-center">Kegiatan</th>
              <th scope="col" class="align-middle text-center">Target</th>
              <th scope="col" class="align-middle text-center">Waktu Pelaksanaan</th>
              <th scope="col" class="align-middle text-center">Jumlah Anggaran Terencana</th>
              <th scope="col" class="align-middle text-center">Sumber Pendanaan</th>
            </tr>
          </thead>
          <tbody>
            {{#each data.ranpeRecapDetail}}
            <tr>
              <th scope="row" class="text-center" style="width: 3%;">{{inc @index}}</th>
              <td class="list-content" style="width: 30%;">{{title}}</td>
              <td>
                <p class="mb-0">Target B06 :</p>
                <p>{{b6_criteria}}</p>
                <p class="mb-0">Target B12 :</p>
                <p>{{b12_criteria}}</p>
              </td>
              <td class="text-center list-content" style="width: 15%;">
                {{dateFormat date_start}} s/d {{dateFormat date_end}}
              </td>
              <td class="list-content" style="width: 10%;">
                Rp. {{currencyFormat total_budget}}
              </td>
              <td class="list-content" style="width: 5%;">
                {{budget_source}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </li>
      <div class="page-break"></div>
      <li class="w-100">
        <div class="pb-4">Rencana Kerja Tahunan RAN PE</div>
        <table class="table table-bordered">
          <thead class="bg-dark-blue">
            <tr>
              <th scope="col" class="text-center align-middle">No</th>
              <th scope="col" class="text-center align-middle">Output Kegiatan</th>
              <th scope="col" class="text-center align-middle">Jan</th>
              <th scope="col" class="text-center align-middle">Feb</th>
              <th scope="col" class="text-center align-middle">Mar</th>
              <th scope="col" class="text-center align-middle">Apr</th>
              <th scope="col" class="text-center align-middle">Mei</th>
              <th scope="col" class="text-center align-middle">Jun</th>
              <th scope="col" class="text-center align-middle">Jul</th>
              <th scope="col" class="text-center align-middle">Agt</th>
              <th scope="col" class="text-center align-middle">Sep</th>
              <th scope="col" class="text-center align-middle">Okt</th>
              <th scope="col" class="text-center align-middle">Nop</th>
              <th scope="col" class="text-center align-middle">Des</th>
              <th scope="col" class="text-center align-middle">Rencana Anggaran</th>
            </tr>
          </thead>
          <tbody>
            {{#each data.ranpeRecapDetail}}
            <tr>
              <th scope="row" class="text-center" style="width: 3%;">{{inc @index}}</th>
              <td class=" list-content" style="width: 10%;">{{title}}</td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'JANUARI')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'FEBRUARI')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'MARET')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'APRIL')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'MEI')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'JUNI')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'JULI')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'AGUSTUS')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'SEPTEMBER')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'OKTOBER')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'NOVEMBER')}}
              </td>
              <td class=" list-content">
                Rp. {{currencyFormat ("findMonthAndReturnCurrency" budget_plans 'DESEMBER')}}
              </td>
              <td class="">Rp. {{currencyFormat total_budget}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </li>
      {{#if data.planningMonitoring}}
      <div class="page-break"></div>
      {{#each data.planningMonitoring}}
      <li class="w-100">
        <div class="pb-4">Pemantauan Kegiatan Kementerian/Lembaga Tahap Perencanaan (input) Kegiatan RAN PE</div>
        <table class="table table-bordered">
          <thead class="bg-dark-blue">
            <tr>
              <th scope="col" class="text-center align-middle">No</th>
              <th scope="col" class="text-center align-middle">Pertanyaan</th>
              <th scope="col" class="text-center align-middle">Jawaban</th>
              <th scope="col" class="text-center align-middle">Keterangan</th>
            </tr>
          </thead>
          <tbody>
            {{#each questions}}
            <tr>
              <th scope="row" class="text-center" style="width: 3%;">{{inc @index}}</th>
              <td class="list-content" style="width: 10%;" >{{assessment_question.question}}</td>
              <td class="list-content" style="width: 10%;">
                {{answer}}
              </td>
              <td class="list-content">
                {{#if childrens}}
                <ul class="list-content">
                  {{#each childrens}}
                    <li>
                      {{answer}}
                    </li>
                  {{/each}}
                </ul>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="pb-0">Hambatan/Kendala Pada Tahap Pelaksanaan</p>
        <div class="obstacle-anser">
          <p>{{nihilReturn obstacle}}</p>
        </div>
      </li>
      {{/each}}      
      {{/if}}
      {{#if data.activityMonitoring}}
      <div class="page-break"></div>
      {{#each data.activityMonitoring}}
      <li>
        <div class="pb-4">Pemantauan Kegiatan Kementerian/Lembaga Tahap Perencanaan (input) Kegiatan RAN PE</div>
        <table class="table table-bordered">
          <thead class="bg-dark-blue">
            <tr>
              <th scope="col" class="text-center">No</th>
              <th scope="col" class="text-center">Pertanyaan</th>
              <th scope="col" class="text-center">Jawaban</th>
              <th scope="col" class="text-center">Keterangan</th>
            </tr>
          </thead>
          <tbody>
            {{#each questions}}
            <tr>
              <th scope="row" class="text-center">{{inc @index}}</th>
              <td class=" list-content">{{assessment_question.question}}</td>
              <td class=" list-content">
                {{answer}}
              </td>
              <td class=" list-content">
                {{#if childrens}}
                <ul class="list-content">
                  {{#each childrens}}
                    <li>
                      {{answer}}
                    </li>
                  {{/each}}
                </ul>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <p class="pb-0">Hambatan/Kendala Pada Tahap Pelaksanaan</p>
        <div class="obstacle-anser">
          <p>{{nihilReturn obstacle}}</p>
        </div>
      </li>
      {{/each}}      
      {{/if}}
      <div class="page-break"></div>
      <li>
        <div class="pb-4">Laporan Kemajuan Pelaksanaan Kegiatan RAN PE</div>
        <table class="table table-bordered">
          <thead class="bg-dark-blue">
            <tr>
              <th scope="col" class="text-center">No</th>
              <th scope="col" class="text-center">Kegiatan</th>
              <th scope="col" class="text-center">Perkembangan Kegiatan</th>
              <th scope="col" class="text-center">Pencapaian Target</th>
              <th scope="col" class="text-center">Hambatan / Kendala</th>
              <th scope="col" class="text-center">Realisasi Anggaran</th>
              <th scope="col" class="text-center">Saran/Masukan/Rekomendasi</th>
            </tr>
          </thead>
          <tbody>
            {{#each data.ranpeRecapDetail}}
            <tr>
              <th scope="row" class="text-center">{{inc @index}}</th>
              <td class=" list-content">{{title}}</td>
              <td class=" list-content">
                {{#each progress_reports}}
                  <p class="mb-0">Target {{progress_type}} : </p>
                  <p>{{desc}}</p>
                {{/each}}
              </td>
              <td class=" list-content">
                {{#each reports_candidate}}
                <p class="mb-0">Target {{this}} :</p>
                <p>
                  {{#if (isB06 this)}}
                    {{ currencyFormat ../b6_real_percentage}} %
                  {{else}}
                    {{ currencyFormat ../b12_real_percentage}} %
                  {{/if}}
                </p>
                {{/each}}
                <p class="mb-0">
                  Total :
                </p>
                <p>{{currencyFormat total_real_percentage}} %</p>
              </td>
              <td class=" list-content">
                {{#each progress_reports}}
                <p class="mb-0">Target {{progress_type}} : </p>
                <p>{{obstacle}}</p>
                {{/each}}
              </td>
              <td class=" list-content">
                {{#each reports_candidate}}
                <p class="mb-0">Target {{this}} :</p>
                <p>
                  {{#if (isB06 this)}}
                    Rp. {{ currencyFormat ../b6_budget}}
                  {{else}}
                    Rp. {{ currencyFormat ../b12_budget}}
                  {{/if}}
                </p>
                {{/each}}
                <p class="mb-0">
                  Total :
                </p>
                <p>Rp. {{currencyFormat total_budget}}</p>
              </td>
              <td class=" list-content">
                {{#each progress_reports}}
                <p class="mb-0">Target {{progress_type}} : </p>
                <p>{{suggestion}}</p>
                {{/each}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </li>
    </ol>
  </body>
</html>
