<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      html {
        -webkit-print-color-adjust: exact;
      }

      /* CUSTOMER STYLE */
      .kop-letter {
        padding-left: 5px;
        padding-right: 5px;
      }
      .kop-letter .kop-logo {
        text-align: left;
      }
      .kop-letter .kop-logo img {
        width: 90px;
      }
      .kop-letter .kop-title {
        font-family: 'Tahoma', Times, serif;
        text-align: center;
        line-height: 1.2;
      }
      .kop-letter .kop-title .main-title {
        font-size: 1em;
        font-weight: 500;
      }
      .kop-letter .kop-title .sub-title {
        font-weight: 600;
        font-size: 1em;
        margin-bottom: 6px;
      }
      .kop-letter .kop-title .kop-address {
        line-height: 1.5;
        font-size: 14px;
      }
      .content-title {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
        margin-top: 2.5rem;
        width: fit-content;
        margin: 2.5rem auto;
      }
      .content-title .doc-title {
        font-weight: bold;
        font-size: 1.1em;
        text-decoration: underline;
      }

      .content-title .doc-number,
      .content-title .doc-date {
        font-size: 14px;
      }

      .hr-line {
        width: 100%;
        border-right: 0;
        border-left: 0;
        height: 6px;
        border-top: 1px solid black;
        border-bottom: 4px solid black;
        border-style: solid;
        margin: 20px 0;
      }

      .main-content {
        font-family: 'Arial';
        font-size: 14px;
      }

      .text-justify {
        text-align: justify;
      }
      .empty-kop {
        min-height: 115px;
      }
    </style>
  </head>
  <body>
    <div class="kop-letter" id="kop-container">
      {{#if (lapsitdaHeaderCheck data.generatedBy)}}
      <div class="empty-kop"></div>
      {{else}}
      <div class="row">
        <div class="col-2">
          <div class="kop-logo">
            <img id="imgLogo" src="{{assets.logo}}" alt="logo" />
          </div>
        </div>
        <div class="col-10">
          <div class="kop-title">
            <div class="main-title">
              KEMENTERIAN DALAM NEGERI <br />
              REPUBLIK INDONESIA
            </div>
            <div class="sub-title">
              <b> DIREKTORAT JENDERAL POLITIK DAN PEMERINTAHAN UMUM</b>
            </div>
            <div class="kop-address">
              Jalan Medan Merdeka Utara Nomor 7 Telepon (021) 34830932
            </div>
            <div class="kop-address">
              Faksimile (021) 34830932
              <a href="www.kemendagri.go.id">www.kemendagri.go.id</a>, E-mail.
              sipks@kemendagri.go.id
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="hr-line"></div>
      <div class="content-title">
        <div class="doc-title">LAPORAN PUSKOMIN</div>
        <div class="doc-number">NOMOR : {{lapsitdaLetterNumber data.generatedBy data.lapsitdaDate}}</div>
        <div class="doc-date">TANGGAL : {{data.lapsitdaDate.fullDate}}</div>
      </div>
    </div>

    <div class="main-content">
      <div class="row">
        <div class="col-1 text-end pe-0">I.</div>
        <div class="col-11">
          <div class="pb-1 fw-bold">Dasar</div>
          {{#if data.dasarHukum}}
          <div>{{{data.dasarHukum.body}}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-1 text-end pe-0">II.</div>
        <div class="col-11">
          <div class="pb-1 fw-bold">Laporan Permasalahan Strategis</div>
          <ol type="A">
            {{#each data.lapsitdaReport}}
            <li>
              <div class="pb-1 fw-bold">
                {{name}}
              </div>
              {{#if lapsitdas}}
              <ol type="1">
                {{#each lapsitdas}}
                <li>
                  <div class="pb-1 fw-bold">{{lapsitda.title}}</div>
                  <p class="text-justify">
                    {{{lapsitda.body}}}
                  </p>
                  {{#if lapsitda.additional_information}}
                  <p>Catatan :</p>
                  <p class="text-justify">
                    {{{lapsitda.additional_information}}}
                  </p>
                  {{/if}}
                </li>
                {{/each}}
              </ol>
              {{else if lapsitda}}
              <ol type="1">
                {{#each lapsitda}}
                <li>
                  <div class="pb-1 fw-bold">{{title}}</div>
                  <p class="text-justify">
                    {{{body}}}
                  </p>
                  {{#if additional_information}}
                  <p>Catatan :</p>
                  <p class="text-justify">
                    {{{additional_information}}}
                  </p>
                  {{/if}}
                </li>
                {{/each}}
              </ol>
              {{else}}
              <p class="text-justify">NIHIL</p>
              {{/if}}
            </li>
            <!-- <li>
              <div class="pb-1 fw-bold">
                {{name}}
              </div>
              {{#if childrens}}
                <ol type="I">
                  {{#each childrens}}
                    <li>
                      <div class="pb-1 fw-bold">
                        {{name}}
                      </div>
                      {{#if childrens}}
                      <ol type="a">
                        {{#each childrens}}
                        <li>
                          <div class="pb-1 fw-bold">
                            {{name}}
                          </div>
                          {{#if childrens}}
                          <ol type="i">
                            {{#each childrens}}
                            <li>
                              <div class="pb-1 fw-bold">
                                {{name}}
                              </div>
                              {{#if childrens}}
                              <ol type="a">
                                {{#each childrens}}
                                <li>
                                  <div class="pb-1 fw-bold">
                                    {{name}}
                                  </div>
                                </li>
                                {{/each}}
                              </ol>
                              {{else}}
                              {{#if lapsitda}}
                              <ol type="1">
                                {{#each lapsitda}}
                                <li>
                                  <div class="pb-1 fw-bold">{{title}}</div>
                                  <p class="text-justify">
                                    {{{body}}}
                                  </p>
                                  {{#if additional_information}}
                                  <p>Catatan :</p>
                                  <p class="text-justify">
                                    {{{additional_information}}}
                                  </p>
                                  {{/if}}
                                </li>
                                {{/each}}
                              </ol>
                              {{else}}
                              <p class="text-justify">NIHIL</p>
                              {{/if}}
                              {{/if}}
                            </li>
                            {{/each}}
                          </ol>
                          {{else}}
                          {{#if lapsitda}}
                          <ol type="1">
                            {{#each lapsitda}}
                            <li>
                              <div class="pb-1 fw-bold">{{title}}</div>
                              <p class="text-justify">
                                {{{body}}}
                              </p>
                              {{#if additional_information}}
                              <p>Catatan :</p>
                              <p class="text-justify">
                                {{{additional_information}}}
                              </p>
                              {{/if}}
                            </li>
                            {{/each}}
                          </ol>
                          {{else}}
                          <p class="text-justify">NIHIL</p>
                          {{/if}}
                          {{/if}}
                        </li>
                        {{/each}}
                      </ol>
                      {{else}}
                      {{#if lapsitda}}
                      <ol type="1">
                        {{#each lapsitda}}
                        <li>
                          <div class="pb-1 fw-bold">{{title}}</div>
                          <p class="text-justify">
                            {{{body}}}
                          </p>
                          {{#if additional_information}}
                          <p>Catatan :</p>
                          <p class="text-justify">
                            {{{additional_information}}}
                          </p>
                          {{/if}}
                        </li>
                        {{/each}}
                      </ol>
                      {{else}}
                      <p class="text-justify">NIHIL</p>
                      {{/if}}
                      {{/if}}
                    </li>
                  {{/each}}
                </ol>
              {{else}}
                {{#if lapsitda}}
                  <ol type="1">
                    {{#each lapsitda}}
                      <li>
                        <div class="pb-1 fw-bold">{{title}}</div>
                        <p class="text-justify">
                          {{{body}}}
                        </p>
                        {{#if additional_information}}
                        <p>Catatan :</p>
                        <p class="text-justify">
                          {{{additional_information}}}
                        </p>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ol>
                {{else}}
                  <p class="text-justify">NIHIL</p>
                {{/if}}
              {{/if}}
            </li> -->
            {{/each}}
          </ol>
          <div></div>
        </div>
      </div>
    </div>
  </body>
</html>
