<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;700;800;900&display=swap"
    rel="stylesheet">
  <style>
    html {
      -webkit-print-color-adjust: exact;
    }

    body {
      font-family: 'Fira Sans', sans-serif;
    }

    /* CUSTOMER STYLE */
    .kop-letter .kop-logo {
      text-align: left;
    }

    .kop-letter .kop-logo img {
      width: 90px;
    }

    .kop-letter .kop-title {
      /* font-family: 'Tahoma', Times, serif; */
      text-align: center;
      line-height: 1.2;
    }

    .kop-letter .kop-title .main-title {
      font-size: 1em;
      font-weight: 500;
    }

    .kop-letter .kop-title .sub-title {
      font-weight: 600;
      font-size: 1em;
      margin-bottom: 6px;
    }

    .kop-letter .kop-title .kop-address {
      line-height: 1.5;
      font-size: 14px;
    }

    .content-title {
      /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
      text-align: center;
      margin-top: 2.5rem;
      width: fit-content;
      margin: 2.5rem auto;
    }

    .content-title .doc-title {
      font-weight: bold;
      font-size: 1.2em;
      text-decoration: underline;
    }

    .hr-line {
      width: 100%;
      border-right: 0;
      border-left: 0;
      height: 6px;
      border-top: 1px solid black;
      border-bottom: 4px solid black;
      border-style: solid;
      margin: 20px 0;
    }

    .table {
      /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
      font-size: 8px;
    }

    .table thead.bg-dark-blue tr th {
      background-color: rgb(31, 73, 125);
      color: white;
    }

    .table td {
      text-align: justify;
    }

    /* .kop-head {
      padding-left: 7rem;
      padding-right: 7rem;
    } */

    .main-content {
        font-family: 'Arial';
        font-size: 14px;
      }

    .table>:not(:first-child) {
      border-top: 0;
    }
  </style>
</head>

<body>
  <div class="kop-letter" id="kop-container">
    <div class="row kop-head">
      <div class="col-2">
        <div class="kop-logo">
          <img id="imgLogo" src="{{assets.logo}}" alt="logo" />
        </div>
      </div>
      <div class="col-10">
        <div class="kop-title">
          <div class="main-title">
            KEMENTERIAN DALAM NEGERI <br />
            REPUBLIK INDONESIA
          </div>
          <div class="sub-title">
            <b> DIREKTORAT JENDERAL POLITIK DAN PEMERINTAHAN UMUM</b>
          </div>
          <div class="kop-address">
            Jalan Medan Merdeka Utara Nomor 7 Telepon (021) 34830932
          </div>
          <div class="kop-address">
            Faksimile (021) 34830932
            <a href="www.kemendagri.go.id">www.kemendagri.go.id</a>, E-mail.
            sipks@kemendagri.go.id
          </div>
        </div>
      </div>
    </div>
    <div class="hr-line"></div>
    <div class="content-title">
      <div class="doc-title">REKAPITULASI {{conflictType}} KONFLIK</div>
      <div class="doc-title">TAHUN {{conflictYear}}</div>
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-12">
        <ol type="1">
          {{#each data}}
          <li>
            <div class="pb-1 fw-bold">
              {{name}}
            </div>
            <p class="text-justify">Jumlah Konflik : {{arrayCountHelper conflictStatistics}} {{toPercentage statPercentage}}</p>
            {{#if conflictStatistics}}
              <p class="text-justify">Detail Konflik :</p>
              <ol type="a">
                {{#each conflictStatistics}}
                  <li>
                    <div class="pb-1 fw-bold">
                      {{title}}
                    </div>
                    <p class="text-justify">
                      Tanggal : {{dateFormat conflict_date}}
                    </p>
                    <p class="text-justify">
                      Status : {{conflict_status}}
                    </p>
                    <p class="text-justify">
                      Kerugian Materiil : Rp. {{currencyFormat _sum.material_loss}}
                    </p>
                    <p class="text-justify">
                      Jumlah Korban Meninggal : {{korbanHelper _sum.number_of_deadth}}
                    </p>
                    <p class="text-justify">
                      Jumlah Korban Luka-Luka : {{korbanHelper _sum.number_of_injuried}}
                    </p>
                    <p class="text-justify">
                      Jumlah Pengungsi : {{korbanHelper _sum.number_of_refugees}}
                    </p>
                  </li>
                {{/each}}
              </ol>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</body>

</html>