<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      html {
        -webkit-print-color-adjust: exact;
      }

      /* CUSTOMER STYLE */
      .kop-letter {
        padding-left: 5px;
        padding-right: 5px;
      }
      .kop-letter .kop-logo {
        text-align: left;
      }
      .kop-letter .kop-logo img {
        width: 90px;
      }
      .kop-letter .kop-title {
        font-family: 'Tahoma', Times, serif;
        text-align: center;
        line-height: 1.2;
      }
      .kop-letter .kop-title .main-title {
        font-size: 1em;
        font-weight: 500;
      }
      .kop-letter .kop-title .sub-title {
        font-weight: 600;
        font-size: 1em;
        margin-bottom: 6px;
      }
      .kop-letter .kop-title .kop-address {
        line-height: 1.5;
        font-size: 14px;
      }
      .content-title {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        margin-top: 2.5rem;
        width: fit-content;
        margin: 2.5rem auto;
      }
      .content-title .doc-title {
        font-weight: bold;
        font-size: 1.1em;
        text-decoration: underline;
      }
      .content-title .doc-data-title {
        font-weight: bold;
        font-size: 1em;
        margin-bottom: 0.75em;
        margin-top: 0.75em;
      }

      .content-title .doc-number,
      .content-title .doc-date {
        font-size: 14px;
      }

      .hr-line {
        width: 100%;
        border-right: 0;
        border-left: 0;
        height: 6px;
        border-top: 1px solid black;
        border-bottom: 4px solid black;
        border-style: solid;
        margin: 20px 0;
      }

      .main-content {
        font-family: 'Arial';
        font-size: 14px;
      }

      .text-justify {
        text-align: justify;
      }
      ol.list-head li {
        font-weight: bold;
      }
      ol.list-head li p {
        font-weight: normal;
      }
      ol.list-content li {
        font-weight: normal;
      }

      .list-content {
        font-weight: normal;
      }

      .lampiran-title {
        font-weight: bold;
        font-size: 1em;
        text-decoration: underline;
        margin-bottom: 0.75em;
      }

      .lampiran-images {
        text-align: center;
      }
      .lampiran-images .lampiran-img {
        max-width: 75%;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      @media print {
        .page-break {
          page-break-after: always;
        }
        .lampiran-img {
          break-inside: avoid;
        }
      }
    </style>
  </head>
  <body>
    <div class="kop-letter" id="kop-container">
      <div class="row">
        <div class="col-2">
          <div class="kop-logo">
            <img id="imgLogo" src="{{assets.logo}}" alt="logo" />
          </div>
        </div>
        <div class="col-10">
          <div class="kop-title">
            <div class="main-title">
              KEMENTERIAN DALAM NEGERI <br />
              REPUBLIK INDONESIA
            </div>
            <div class="sub-title">
              <b> DIREKTORAT JENDERAL POLITIK DAN PEMERINTAHAN UMUM</b>
            </div>
            <div class="kop-address">
              Jalan Medan Merdeka Utara Nomor 7 Telepon (021) 34830932
            </div>
            <div class="kop-address">
              Faksimile (021) 34830932
              <a href="www.kemendagri.go.id">www.kemendagri.go.id</a>, E-mail.
              sipks@kemendagri.go.id
            </div>
          </div>
        </div>
      </div>
      <div class="hr-line"></div>
      <div class="content-title">
        <div class="doc-title">LAPORAN KHUSUS</div>
        <div class="doc-data-title">
          {{data.title}}
        </div>
      </div>
    </div>

    <div class="main-content">
      <ol type="A" class="list-head">
        <!-- loop start -->
        {{#if data.introduction}}
        <li>
          <div class="pb-1">PENDAHULUAN</div>
          <div class="list-content">{{{data.introduction}}}</div>
        </li>
        {{/if}}
        {{#if data.facts}}
        <li>
          <div class="pb-1">FAKTA-FAKTA</div>
          <div class="list-content">{{{data.facts}}}</div>
        </li>
        {{/if}}
        {{#if data.inteligence_analysis}}
        <li>
          <div class="pb-1">ANALISA INTELIJEN</div>
          <div class="list-content">{{{data.inteligence_analysis}}}</div>
        </li>
        {{/if}}
        {{#if data.inteligence_analysis}}
        <li>
          <div class="pb-1">REKOMENDASI</div>
          <div class="list-content">{{{data.recomendation}}}</div>
        </li>
        {{/if}}
      </ol>
      {{#if data.lapsitdas}}
      <div class="page-break"></div>
      <div class="lampiran-title">LAMPIRAN</div>
      <div class="lampiran-content">
        <ol type="1" class="list-head">
          {{#each data.lapsitdas}}
          <li>
            <div class="pb-1">{{lapsitda.title}}</div>
            {{{lapsitda.body}}}
            <!-- <p class="text-justify">
              Nullam imperdiet tincidunt felis, ac pulvinar ipsum eleifend vel.
              Pellentesque suscipit non nibh et tristique. Donec faucibus, est
              vitae aliquet facilisis, ligula arcu porttitor ipsum, quis
              ullamcorper nunc dui et arcu. Sed nec tristique ante, at lobortis
              nulla. Nam tincidunt aliquam neque vitae mattis. Curabitur
              consectetur augue at maximus imperdiet. Donec vitae ultrices orci,
              id scelerisque mi. Vivamus ut risus auctor, viverra orci molestie,
              mattis nisi. Pellentesque ex lorem, sagittis ac auctor et, tempus
              sagittis magna. Nullam vulputate massa vitae arcu porta porta.
              Integer arcu sem, iaculis vel tortor et, volutpat fringilla nisi.
            </p> -->
            {{#if additional_information}}
            <div class="mb-2">Catatan :</div>
            {{{lapsitda.additional_information}}}
            <!-- <p class="text-justify ps-4">
              Nullam imperdiet tincidunt felis, ac pulvinar ipsum eleifend vel.
              Pellentesque suscipit non nibh et tristique. Donec faucibus, est
              vitae aliquet facilisis, ligula arcu porttitor ipsum, quis
              ullamcorper nunc dui et arcu. Sed nec tristique ante, at lobortis
              nulla. Nam tincidunt aliquam neque vitae mattis. Curabitur
              consectetur augue at maximus imperdiet. Donec vitae ultrices orci,
              id scelerisque mi. Vivamus ut risus auctor, viverra orci molestie,
              mattis nisi. Pellentesque ex lorem, sagittis ac auctor et, tempus
              sagittis magna. Nullam vulputate massa vitae arcu porta porta.
              Integer arcu sem, iaculis vel tortor et, volutpat fringilla nisi.
            </p> -->
            {{/if}}
            {{#if lapsitda.image_attachments}}
            {{#each lapsitda.image_attachments}}
            <div class="lampiran-images">
              <img class="lampiran-img" src="{{ this }}" alt="img1" />
            </div>
            {{/each}}
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </div>
      {{/if}}
    </div>
  </body>
</html>
